/* Ready for some styles to be added! */

h1 {text-align: center;}

html,
body,
    #viewDiv {
    padding: 0;

    height: 100%;
    width: 100%;
    margin: auto;
    }


    body{
        background: url('https://user-images.githubusercontent.com/54333765/156042745-9a6625c5-a7fa-46f5-98f2-e2b00065cc0a.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
      }

    .jumbotron {
        background: rgba(16, 89, 223, 0.829);
    }
    .btn-primary {
        background-color: #c60063;
        border-color: #c60063;
    }

    header{
        margin-left: 10%;
        margin-right: 10%;
        
    }