/* Ready for some styles to be added! */

h1 {text-align: center;}

html,
body,
    #viewDiv {
    padding: 0;

    height: 100%;
    width: 100%;
    margin: auto;
    }


    body{
        background: url('https://user-images.githubusercontent.com/54333765/156042745-9a6625c5-a7fa-46f5-98f2-e2b00065cc0a.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
      }

    .jumbotron {
        margin-top: 20%;
        margin-bottom: 20%;
        padding: 10%;
        background: rgba(0, 27, 72, 0.829);
        color: #97CADB;
    }


    .jumbotron .btn {
        background-color: #97CADB;
        padding: 2%;
    }

    header{
        margin-left: 10%;
        margin-right: 10%;

    }

    .fixed-content {
        margin-left: 87%;
        position:fixed;
        overflow-y:hidden;
        overflow-x:hidden;
    }

    .navbar {
        background-color: #97CADB;
    }
    
    .dropdown-menu {
        background-color: #97CADB;
    }

    .dropdown-item:hover {
        background-color: #97CADB;
    }

    .navbar li{
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .navbar a {
        color: #001B48;
    }

    .navbar a:hover {
        font-weight: bold;
    }

    .container {
        margin-top: 10%;
    }
